.card {
  width: 100%;
  max-width: 19rem;
  min-width: 12.5rem;
  height: 15.5rem;
  background-color: #292929;
  margin: 0.65rem;
  border-radius: 0.65rem;
  box-shadow: 0px 0.15rem 0.65rem rgba(0, 0, 0, 0.24);
  border: 0.15rem solid rgba(7, 7, 7, 0.12);
  font-size: 1rem;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.card .name {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 1.85rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.balance {
  font-size: 1.5rem;
}

.card:hover {
  height: 16.85rem;
}

.positive_bg {
  background-color: var(--main-color);
}

.negative_bg {
  background-color: var(--error-color);
}
